.default {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}

.list {
    display: flex; 
    justify-content: flex-start; 
    margin-top: 20px;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: flex;
    margin-left: 280px;
    width: 50%;
    flex-wrap: wrap;
}